body {
  margin: 0;
  padding: 0;
  color: #666;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.heading1 {
  padding-top: 25px;
  font-size: 36px;
  border-bottom: 2px solid #999;
}

.registration {
  &__input {
    &-title {
      font-size: 20px;
    }

    &-value {
      font-size: 18px;
    }

    &-area {
      padding: 8px;
      border-radius: 4px;
    }
  }
}

.todo {
  padding: 0;

  &__list {
    margin-bottom: 5px;
    padding: 0 20px;
    list-style-type: none;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__checkbox {
    transform: scale(2);
    vertical-align: middle;
    margin-right: 10px;
  }

  &__detail {
    font-size: 16px;
  }
}

.btn {
  padding: 5px 10px;
  margin-left: 15px;
  background-color: bisque;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
    transition: opacity 0.3;
  }
}
