<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List Vue</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <!-- 見出し -->
    <h1 class="container heading1">Todo List in Vue</h1>

    <!-- vueで制御するエリア -->
    <div class="container" id="app">
      <!-- 登録エリア -->
      <div class="registration">
        <h2 class="registration__input-title">入力内容</h2>
        <p class="registration__input-value">{{ newTodo }}</p>
        <input class="registration__input-area" type="text" placeholder="todoを入力して登録ボタンを押してください。" maxlength="50" size="50" v-model="newTodo" />
        <button @click="addItem" class="btn">登録</button>
      </div>

      <!-- todo表示エリア -->
      <ul class="todo">
        <!-- ループで処理 -->
        <li id="list--1" class="todo__list" v-for="(todo, index) in todos">
          <input id="list-item-1" class="todo__checkbox" type="checkbox" />
          <label class="todo__detail" for="list-item-1">{{ todo }}</label>
          <button class="btn" @click="deleteItem(index)">削除</button>
        </li>
      </ul>
    </div>

    <script src="./js/vue.js"></script>
    <script src="./js/main.js"></script>
  </body>
</html>
